<footer class="footer">
  <small>
    Hosted by Heroku at <a href="http://simple-sword-4955.herokuapp.com/">Sample App</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>